<tr>
  <td><%= hospital.name %></td>
  <td><%= hospital.address %></td>
  <td><%= hospital.city %></td>
  <td><%= hospital.phone %></td>
  <td><%= hospital.geocode_lat %></td>
  <td><%= hospital.geocode_long %></td>
</tr>
